/Projects/.metadata
/Projects/TCS_control_board/.settings
/Projects/TCS_control_board/.mxproject
/Projects/TCS_control_board/.project
/Projects/TCS_control_board/.cproject
/Projects/Control_Board/.cproject
/Projects/Control_Board/.mxproject
/Projects/Control_Board/.project
/Projects/Control_Board/.settings
/RemoteSystemsTempFiles/.project
/Projects/Control_Board/.settings
/Projects/TCS_control_board/.settings/*
/Projects/test/.settings/*
/Projects/test2/SW4STM32/test2/.settings/*
.metadata
