/Projects/.metadata
/Projects/TCS_control_board/.settings
/Projects/TCS_control_board/.mxproject
/Projects/TCS_control_board/.project
/Projects/TCS_control_board/.cproject
/Projects/Control_Board/.cproject
/Projects/Control_Board/.mxproject
/Projects/Control_Board/.project
/RemoteSystemsTempFiles/.project
.metadata
